.TwoColumn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 54px;
    > div {
        width: 50%;
    }

    .col_2 {
        opacity: 0;
        transform: translateX(20px);
    }
}