@import '../../common/variables';

.ProjectsPage {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 83px);
    > .Section.Projects > .section_inner > .section_header > h2 {
        color: $mocha;
        font-size: 48px;
    }
}
