@import '../../common/variables';

Section.ExperienceDisplay {
  margin-top: 16px;
}

.ExperienceDisplay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $baseUnit*8px 0;
  padding-top: 12px;
  color: $secondaryColor;

  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    >h2 {
      margin: 0;
      font-size: $font-size-medium-1;
      color: $caramel;

    }

    .horizontal_row {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      max-width: 1250px;
      margin: auto;
      margin-top: 24px;

      .experience_items {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .subtitle {
          font-weight: bold;
          display: flex;
          align-items: flex-start;
        }

        .ExpItem {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          >.date {
            font-weight: bold;
            color: $caramel;
          }

          >.title.italic {
            font-style: italic;
          }
        }
      }

      >.resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > span {
         
          > a {
            // nherre
            text-underline-offset: $text-underline-offset-1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            gap: 4px;
            > img {
              height: 20px;
              width: 20px;
            }
          }
        
        }
      }
    }
  }

  .certificate_badge {
    margin-top: $margin-top-medium-2;

    >img {
      width: 180px;
      height: 180px;
    }
  }

}

@media screen and (max-width: 600px) {
  .Section.ExperienceDisplay {
    padding: 0 $spacing-medium-1;
    width: calc(100% - #{$spacing-medium-1*2});
    > .section_inner {
      > .body {
        width: 100%;
        padding-top: 0;
      }
    }
  }
  .ExperienceDisplay {
    padding-bottom: 0;
    padding-top: 0;

    >.section_inner {
      padding-top: 0;
    }

    >div {
      gap: 16px;
      >h2 {
        font-size: 1.2rem;
      }
      .horizontal_row {
        margin-top: 0px;
        flex-direction: column;
        gap: 48px;

        .experience_items {
          font-size: .8rem;
        }
        .resume {
          img {
            width: 100%;
          }
        }
      }

      .certificate_badge {
        margin-top: 16px;
        margin-bottom: 24px;

        >img {
          width: 180px;
          height: 180px;
        }
      }
    }

  }

}