@import '../../common/variables';

$transformation: all .5s ease;

.AboutMeCta {
  background: white;
  color: $secondaryColor;

  >.section_inner {
    margin-top: 0;
    margin-bottom: 0;
    gap: 36px;
    max-width: 900px;
    .body {
      padding-top: 0;
    }
  }

  .AboutMeCta {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    width: 100%;
    gap: #{$baseUnit*8}px !important;
    text-align: left;
    img {
      border-radius: $imageBorderRadius;
    }
    >.card-container {
      display: flex;
      flex-direction: column;
      line-height: #{$baseUnit*3}px;
      gap: #{$baseUnit*3}px;
      justify-content: center;
      align-items: center;
      > button {
        color: $white;
      }
    }

    >.action-container {
      gap: 16px;
      height: 48px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1324px) {
  .AboutMeCta {
    padding-top: #{$baseUnit*6}px;
    padding-bottom: #{$baseUnit*6}px;
    flex-direction: column-reverse !important;
    align-items: center;

    .AboutMeCta {
      margin-top: #{$baseUnit}px;

      >.card-container {
        flex-direction: column;
        width: 100%;
      }

      >.action-container {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .AboutMeCta .AboutMeCta {
    padding-top: 0;
    padding-bottom: 0;
  }
}