@import '../../../common/variables.scss';

.Section {
  border: 1px solid orange;
  color: white;
  padding: $baseUnit*8px $baseUnit*4px;
  border: $debug_border;
  width: calc(100% - #{$baseUnit*8}px);
  > .section_inner {
    transition: all .7s ease-out;
    max-width: $max_width;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: #{$baseUnit*2}px;
    transform: translateY(100vh);
    opacity: 0;
    &.in_view {
      transform: translateY(0);
      opacity: 1;
    }
    > .section_header {
      display: flex;
      gap: #{$baseUnit*2}px;
      align-items: center;
      justify-content: center;

      > h2 {
        font-size: $font-size-medium-1;
        color: $mauve;
        margin: 0;
      }

      > hr {
        width: calc(100% - #{$baseUnit*8px});
        color: white;
        background: white;
        opacity: .4;
      }
    }

    > .body {
      border: $debug_border;
      padding-top: $baseUnit*2px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 600px) {
  .Section {
    padding: $baseUnit*4px $mobileLeftPadding;
    width: calc(100% - #{$mobileLeftPadding*2});
    > .section_inner {
      > .section_header {
        > h2 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Section {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.square-transition {
  opacity: 1;
  transform: none;
}
