@import '../../common/variables';

.Section.ExperienceDisplay {
  > .section_inner {
    > .body {
      width: 100%;
    }
  }
}

.Section.About {
  color: $secondaryColor;
  padding-top: 0;
  > .section_inner {
    max-width: 1450px;
    >.section_header {
      margin-top: $first_element_margin_top;
      margin-bottom: 40px;
    > h2 {
      color: $mocha;
      font-size: 48px;
      }
    }
    > .body {
      display: flex;  
      flex-wrap: wrap;
      justify-content: space-evenly;
      font-size: $desktopBodyFontSize;
      width: 100%;
      > div {
        display: flex;
        flex-direction: row;
        padding: $baseUnit*2px 0;
        gap: $baseUnit*12px;
        align-items: center;
        // flex-wrap: wrap;
        justify-content: center;
        > .tagline_container > h2 {
          display: none;
        }
        
        .description_container {
          color: $secondaryColor;
          display: flex;
          flex-direction: column;
          gap: $baseUnit*4px;
          text-align: left;
          flex: 2;
          min-width: 300px;
          > h2 {
            color: $caramel;
            font-style: italic;
            text-align: center;
            font-size: 24px;
            width: 101%;
          }
          > div {
            line-height: 28px;
          }
        }


        > img {
          object-fit: cover;
          height: 250px;
          border-radius: $card_border_radius;
          box-shadow: $box_shadow_1;
        }

        .portrait_container {
          height: 300px;
          width: 300px;
          border: 1px solid red;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .Section.About.Me {
    > .section_inner {
      > .section_header {
        > h2 {
        }
      }
      > .body {
      
        > div {
          width: 100%;
          flex-direction: column;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .Section.About.Me {
    padding-bottom: 0;
    > .section_inner {
      > .section_header {
        margin-bottom: 0;
        > h2 {
          font-size: 1.2rem;
        }
      }
      width: 100%;
      > .body {
        padding-top: 0;
      width: 100%;
        > div {
          width: 100%;
          flex-direction: column;
          gap: 24px;
          > .tagline_container {
            > h2 {
              display: block;
              font-size: 1rem;
              color: $caramel;
              font-style: italic;
              text-align: center;
              width: 101%;
              margin-top: 0;
            }
          picture {
            width: 100%;
            > img {
              width: 200px;
              margin-top: 24px;
            }
          }
        }
        > .description_container {
          > h2 {
            display: none;
          }
          > div {
            font-size: 1rem;
          }
        }
        }
      }
    }
  }
}
