@import '../../common/variables';

.Section.Contact {
  background: $mauve;
  padding-top: 0;
  padding-bottom: 0;
  color: $gray25;
}

.section_inner {
  justify-content: center;

  >.body {
    justify-content: center;

  }
}

.Contact {
  h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  }
  >.action_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: #{$baseUnit*4}px;
    >.copywrite_container {
      padding-bottom: 24px;
      padding-top: 48px;
      color: $macchiato;
      font-size: 10px;
    }
  

    >.social_container {
      display: flex;
      flex-direction: row;
      gap: #{$baseUnit*2}px;
      margin-top: 8px;
      img {
        cursor: pointer;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
  
}