@import "../../common/variables.scss";

.Section.Contact {
    max-width: 1200px;
    margin: auto;
    height: 75vh;
    .body {
        display: flex;
        justify-content: center;
        .thank_you {
            font-size: 2rem;
            color: $caramel;      
        }
        .social_container {
            margin-top: 16px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            >div {
                font-size: 60px;
            }
           
            > ul {
                list-style-type: none;
                padding-inline-start: 0;
                > li {
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    margin-top: 24px;
                    text-decoration: underline;
                    text-underline-offset: 6px;
                    img {
                        height: 100%;
                    }
                    &:hover {
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .Section.Contact {
      padding: 0;
      width: calc(100% - #{$mobileLeftPadding*2});
      height: 75%;
      > .section_inner {
        padding-top: 0;
        .thank_you {
           font-size: 1rem; 
        }
        .social_container {
            font-size: 1.2rem; 
            >div {
                font-size: 40px;
            }
            > ul {
                margin-block-start: 0;
                > li {
                    font-size: 1.1rem;
                }
            }
        }
      }
    }
  }