@import '../../common/variables.scss';
@import '../../common/theme.scss';
$scroll-factor: .5;

.Header {
  @include themed() {
    background: getThemedValue('backgroundColor');
    color: getThemedValue('header1TextColor');
    font-family: getThemedValue('header1FontFamily');
    font-size: getThemedValue('header1FontSize');
  }

  margin-top: calc($navBarHeight + 85px);

  >h1 {
    text-align: center;
    font-style: italic;
  }
}