@import '../../common/variables';
@import '../../common/theme';

$transition: all .3s ease-in;

.Navbar {
  transition: $transition;
  &.hide {
    transform: translateY(-#{$navBarHeight});
  }
  >.navbar_wrapper {
    @include themed() {
      background: getThemedValue('navbarBackgroundColor');
    }
    color: $white;
    position: relative;
    height: $navBarHeight;
    display: flex;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - #{$baseUnit*2}px);
    padding: 0 #{$baseUnit}px;
    
    > div {
      display: flex;
      gap: #{$baseUnit}px;
      align-items: center;
      > svg {
        fill: $macchiato;
        display: none;
        transition: transform .5s ease-out;
        &.close_icon {
          transform: rotate(180deg);
        }
      }
      > img {
        height: 40px;
      }
      >.tagline {
        display: flex;
        gap: #{$baseUnit}px;
      }
    }
    >.link_container {
      display: inherit;
      align-items: center;
      gap: #{$baseUnit*2}px;
      height: 100%;
      >li {
        list-style-type: none;
        padding: 10px;
        border-radius: $border-radius-1;
        transition: opacity .2 ease-in;
        &:hover {
          opacity: .8;
        }
        &.active {
          background: $caramel;
      
          > a {
            color: $black75;
            &:hover {
              // border-bottom: 1px solid $black75;
            }
          }
        }
        &.hide {
          transform: translateY(-100%);
        }

        >a {
          text-decoration: none;
          color: white;
          // border-bottom: 0 solid white;

          &:hover {
            // border-bottom: 1px solid white;
          }
        }
      }
    }

    .nav_underlay {
      position: fixed;
      width: 100%;
      height: $navBarHeight;
      background: black;
      left: 0;
      z-index: 1;
      transition: $transition;
      transform: translateY(-100%);
    }

    &.show {
      .nav_underlay {
        transform: translateY(0);
        opacity: .8;
      }
    }

    &.hide {
      .nav_underlay,
      .link_container {
        transform: translateY(-100%);
      }
    }
  }

}


@media screen and (max-width: 600px) {
  .Navbar {
    .navbar_wrapper {
      > div {
        justify-content: space-between;
    width: 100%;
        > svg {
          display: block;
        }
        > .tagline {
          display: none;
        }
      }
      > .link_container {
        height: auto;
        top: $navBarHeight;
        left: 0;
        width: 100%;
        flex-direction: column;
        position: absolute;
        z-index: -1;
        color: white;
        background: $mauve;
        transition: transform .7s ease-out;
        padding-bottom: 8px;
        &.show {
          transform: translateY(0);
        }
        &.hide {
          transform: translateY(-375px);
        }
      }
    }
  }
}