@import './common/variables';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Lato bold', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, .App, .main_content {
  height: 100vh;
  background: white;
}
#root {
  overflow: hidden;
}

.App {
  height: calc(100vh - #{$navBarHeight});
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $mauve;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}