$fire_opal: #F25F5C;
$gray75: #50514F;
$persian_green: #18a999;
$lavender_web: #d8ddef;
$minion_yellow: #fde74c;
$honey_yellow: #f6ae2d;
$floral_white: #fbfbf2;
$gainsboro: #dfdfdf;
$morning_blue: #86a59c;
$baseUnit: 8;
$card_border_radius: 5px;

$primaryColor: $fire_opal;
$secondaryColor: $gray75;
$bgColor: white;
$debug_border: none;
$box_shadow_1: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box_shadow_light: 2px 3px 5px -1px #999999;
$bodyLineHeight: 32px;

$max_width: 850px;
$navBarHeight: 56px;

$first_element_margin_top: calc($navBarHeight + 85px);
$margin-top-medium-1: 36px;
$margin-top-medium-2: 48px;

$padding-small-1: 8px;
$padding-small-2: 16px;
$padding-medium-1: 24px;

$mobileLeftPadding: $baseUnit*2px;
$mobileTopPadding: $baseUnit*4px;

$desktopBodyFontSize: 20px;
$mobileBodyFontSize: 1rem;

$spacing-small-2: 16px;
$spacing-medium-1: 24px;

$footerHeight: 250px;


:export {
  $bg_color: $bgColor;
  $fire_opal: $fire_opal;
  $gray75: $gray75;
  $baseUnit: $baseUnit;
  $primaryColor: $fire_opal;
  $secondaryColor: $gray75;
  $debug_border: $debug_border;
}

$macchiato: #CB9C7D;
$caramel: #BA8274;
$blush: #A96B6C;
$mauve: #98626F;
$mocha: #42241E;
$gray25: #D9D9D9;

$black75: #1C1C1C;
// $white: #fbfbf2;
$white: white;

$headerColor: $blush;
$navBarColor: $mauve;
$footerColor: $mauve;
$paragraphColor: $black75;

$imageBorderRadius: 48px;
$buttonBorderRadius: 10px;
$header1FontFamily: 'Lato, Sans Serif';
$header1FontSize: 1.5rem;

$font-size-medium-1: 2rem; // 32px

$text-underline-offset-1: 4px;