$transformation: all 2s ease;
@import '../../../common/variables';

.ProjectModalBody {
  width: 100%;
  display: flex;
  -webkit-transition: $transformation;
  -moz-transition: $transformation;
  -o-transition: $transformation;
  transition: $transformation;
  justify-content: center;

  img {
    cursor: pointer;
  }

  .content {
    height: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 80px);
    // gap: #{$baseUnit*4}px;
    padding: 40px;
    text-align: start;

    >.featured-img {
      margin-top: $margin-top-medium-2;
      max-height: 500px;
      width: fit-content;
      max-width: 400px;
    }

    >.heading_container {
      display: flex;
      flex-direction: column;
      align-items: center;

      >h2 {
        color: $mauve;
        margin: 0;
        font-size: $font-size-medium-1;
        color: $mauve;
      }

      > h3 {
        color: $gray85;
          font-size: $font-size-small-2;
          font-style: italic;
          font-weight: 400;
          margin-top: 0;
      }
      >.technologies {

        >div {
          display: flex;
          gap: $spacing-medium-1;

          >span {
            background: $caramel;
            border-radius: $border-radius-1;
            color: $white;
            padding: $padding-small-1;
          }
        }

        display: flex;
        flex-direction: column;
        margin-top: #{$baseUnit*2}px;
      }
      > .label_container {
        display: flex;
        gap: $padding-small-1;
      }
    }

    >.description {
      text-transform: none;
      line-height: $bodyLineHeight;
    }

    >img {
      width: 600px;
    }

    >.img-container {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      >img {
        max-width: 600px;
        width: 100%;
      }
    }

    >.action-container {
      height: 10%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: #{$baseUnit}px;
      align-items: center;
      padding-bottom: #{$baseUnit*4}px;
      padding-right: #{$baseUnit*4}px;

      >svg:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }

  .btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: $spacing-small-2;
    margin-top: 48px;
  }
}

@media screen and (max-width: 800px) {
  .ProjectModalBody {
    >div>.content {
      width: calc(100% - 32px);
      padding: #{$baseUnit*3}px #{$baseUnit*2}px;
      gap: 0;

      >.heading_container {
        >h2 {
          font-size: $font-size-small-2;
        }
        >h3 {
          font-size: $font-size-small-1;
        }
        
      }

      .btn-container {
        .Button {
          width: 140px
        }
      }

      >.featured-img {
        width: 100%;
      }
    }
  }
}