$transformation: all 2s ease;
@import '../../../common/variables';

.ProjectModalBody {
  height: 100%;
  width: 100%;
  display: flex;
  -webkit-transition: $transformation;
  -moz-transition: $transformation;
  -o-transition: $transformation;
  transition: $transformation;
  justify-content: center;

  img {
    cursor: pointer;
  }



  .content {
    max-width: $max_width;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 48px);
    gap: #{$baseUnit*4}px;
    padding: 24px; 
    padding-bottom: 0;
    text-align: start;
    > .featured-img {
      max-height: 500px;
      width: fit-content;
    }

    >.heading_container {
      display: flex;
      flex-direction: column;
      align-items: center;

      >h2 {
        margin: 0;
        font-size: $font-size-medium-1;
        color: $mauve;

        &:last-of-type {
          font-style: italic;
          font-weight: 400;
        }

      }

      >.technologies {

        >div {
          display: flex;
          gap: $spacing-medium-1;

          >span {
            background: $caramel;
            border-radius: $buttonBorderRadius;
            color: $white;
            padding: $padding-small-1;
          }
        }

        display: flex;
        flex-direction: column;
        margin-top: #{$baseUnit*2}px;
      }
    }

    >.description {
      text-transform: none;
      line-height: $bodyLineHeight;
    }

    >img {
      width: 600px;
    }

    >.img-container {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      >img {
        max-width: 600px;
        width: 100%;
      }
    }

    >.action-container {
      height: 10%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: #{$baseUnit}px;
      align-items: center;
      padding-bottom: #{$baseUnit*4}px;
      padding-right: #{$baseUnit*4}px;

      >svg:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ProjectModalBody {
    > div > .content {
      width: calc(100% - #{$baseUnit*2}px);
      padding: #{$baseUnit}px;

      > .heading_container {
        >h2 {
          font-size: $font-size-small-2;
          &.description { 
            font-size: $font-size-small-1;
          }
        }
      }

      > .featured-img {
        width: 100%;
      }
    }
  }
}