.ProjectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    > .img-container {
        display: flex;
        gap: 8px;
    }
}